{% extends "meetchatandplayHomeHomeBundle::layout_meet.html.twig" %}

{% block title %}
 {{ parent() }}
{% endblock %}

{% block body_content %}
	<center>
		<h3><b><u>Dernières actualités</u></b></h3>
	</center><br>
	<table border = "1" width = "963px" height = "70px" style = "margin-left: 15px;">
		<tr>
			<td>
				<center>
					Lancement du site !
					<b>Bienvenue !</b>
				</center>
			</td>
		</tr>
	</table>
{% endblock %}